@model MilkWayIndia.Entity.tblBillPayProvider

@Html.HiddenFor(s => s.ID)
<div class="box-body">
    <div class="row">
        <div class="col-md-8">
            <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Operator Name</label>
                <div class="col-sm-6">
                    @Html.DropDownListFor(model => model.OperatorID, ViewBag.lstOperator as SelectList, new { @class = "form-control" })                    
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Service Name</label>
                <div class="col-sm-6">
                    @Html.DropDownListFor(model => model.ServiceID, ViewBag.lstService as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">State/Circle</label>
                <div class="col-sm-6">
                    @Html.DropDownListFor(model => model.CircleID, ViewBag.lstCircle as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">City</label>
                <div class="col-sm-6">
                    @Html.DropDownListFor(model => model.CityID, ViewBag.lstCity as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Is Partial</label>
                <div class="col-sm-6">
                    @Html.CheckBox("IsPartial")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Operator Code</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.OperatorCode, new { @class = "form-control required" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Number Tag</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.NumberTag, new { @class = "form-control required" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Field Tag1</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.FieldTag1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Field Tag2</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.FieldTag2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Field Tag3</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.FieldTag3, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer text-right">
    <input type="submit" value="Save" class="btn btn-primary" onclick="return ValidCategory();" />
</div>

<script>
    function ValidCategory() {
        var status = true;
        $('select').removeClass('field-error');
        $('input').removeClass('field-error');
        var Name = document.getElementById("Name").value;
        if (Name == null || Name == "") {
            $('#Name').addClass('field-error');
            status = false;
        }
        var OperatorCode = document.getElementById("OperatorCode").value;
        if (OperatorCode == null || OperatorCode == "") {
            $('#OperatorCode').addClass('field-error');
            status = false;
        }
        var NumberTag = document.getElementById("NumberTag").value;
        if (NumberTag == null || NumberTag == "") {
            $('#NumberTag').addClass('field-error');
            status = false;
        }
        return status;
    }


</script>