@model MilkWayIndia.Models.Staff
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/iCheck/square/blue.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>MilkyWayIndia</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @using (Ajax.BeginForm("Login", "Home", new AjaxOptions { OnSuccess = "onSuccesssumbit", OnFailure = "ClearLoginInput();", OnBegin = "ValidLogin();" }))
            {
                @ViewBag.StaticMessage
                <input type="hidden" name="ReturnURL" value="@ViewBag.ReturnURL" />
                <label id="labelId" class="errorClass1"></label>
                <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(Model => Model.UserName, new { placeholder = "UserName", @class = "form-control", @id = "Adminname", onClick = "ClearUserNameLoginField('Adminname')", onkeypress = "ClearUserNameLoginField('Adminname')" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(Model => Model.Password, new { placeholder = "Password", @class = "form-control", minlength = 3, @id = "AdminPassword", onClick = "ClearPassWordLoginField('AdminPassword')", onkeypress = "ClearPassWordLoginField('AdminPassword')" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox icheck" style="margin-top: 7px;">
                            <label>
                                <input type="checkbox" name="RememberMe" id="RememberMe" @(ViewBag.RememberedUser != null ? "checked" : "") />
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right" style="margin-top: 7px;">
                        <a style="font-size: 13px; color: #337ab7; cursor: pointer;" onclick="promptForgotPassword()">Forgot Password?</a>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12 text-right">
                        <input type="submit" value="Sign In" class="btn btn-primary" onclick="return ValidLogin();" />
                    </div>
                </div>

            }

        </div>
    </div>
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>

    <script>
        var onSuccesssumbit = function (resultLoginurl) {
            if (resultLoginurl.url) {

                window.location.href = resultLoginurl.url;
            }
        }
        function ValidLogin() {

            var Username = document.getElementById("Adminname").value;
            if (Username == null || Username == "" || Username == "Login ID" || Username == "AdminName Required") {
                document.getElementById("Adminname").style.border = "1px solid #ff0000";
                document.getElementById("Adminname").style.color = "#ff0000";
                document.getElementById("Adminname").style.fontSize = "12px";
                document.getElementById("Adminname").value = 'AdminName Required';
                window.setTimeout(function () {
                    document.getElementById("Adminname").focus();
                }, 0);
                return false;
                // alert("2");
            }

            var UserPassword = document.getElementById("AdminPassword").value;
            if (UserPassword == null || UserPassword == "" || UserPassword == "Password" || UserPassword == "Password Required") {

                document.getElementById("AdminPassword").setAttribute('type', 'text');
                document.getElementById("AdminPassword").style.border = "1px solid #ff0000";
                document.getElementById("AdminPassword").style.color = "#ff0000";
                document.getElementById("AdminPassword").style.fontSize = "12px";

                document.getElementById("AdminPassword").value = 'Password Required';
                document.getElementById("AdminPassword").focus();
                return false;
            }


        }


        function ClearUserNameLoginField(a) {
            if (document.getElementById(a).value == 'null' || document.getElementById(a).value == '' || document.getElementById(a).value == 'AdminName Required') {
                document.getElementById(a).value = "";
                document.getElementById("labelId").innerText = '';
                document.getElementById(a).style.border = "1px solid #ccc";
                document.getElementById(a).style.fontSize = "14px";

                document.getElementById(a).style.color = "#555";
                //$("#labelId").hide();
            }
        }

        function ClearPassWordLoginField(b) {
            if (document.getElementById(b).value == 'null' || document.getElementById(b).value == '' || document.getElementById(b).value == 'Password Required') {
                document.getElementById(b).value = "";
                document.getElementById(b).style.border = "1px solid #ccc";
                document.getElementById("labelId").innerText = '';
                document.getElementById(b).style.color = "#555";
                document.getElementById(b).style.fontSize = "14px";
                document.getElementById(b).setAttribute('type', 'password');
                //$("#labelId").hide();
            }
        }

    </script>

    <script>

        window.onload = function () {
            document.getElementById("Adminname").focus();
        };

        var onSuccessLogin = function (resultLoginurl) {
            if (resultLoginurl.url) {

                window.location.href = resultLoginurl.url;
            }
        }


    </script>
    <script>
        function ClearLoginInput() {
            document.getElementById("Adminname").value = "";
            document.getElementById("AdminPassword").value = "";
            document.getElementById("labelId").innerText = 'Invalid! UserName or Password.';
            document.getElementById('labelId').style.color = "#ff0000";
        }

      function promptForgotPassword() {
    var username = document.getElementById("Adminname").value;

    if (!username || username.trim() === "") {
        $("#SuccessMsg").text("Please enter your username in the login box.").css("color", "red");
        return;
    }

    $.ajax({
        url: '@Url.Action("ForgotPassword", "Home")',
        type: 'POST',
        data: { usernameOrEmail: username },
        success: function (response) {
            if (response.success) {
                $("#SuccessMsg").text("A 'Hello' email has been sent to your registered email address.").css("color", "green");
            } else {
                $("#SuccessMsg").text(response.message).css("color", "red");
            }
        },
        error: function () {
            $("#SuccessMsg").text("Something went wrong. Try again later.").css("color", "red");
        }
    });
}


    </script>

</body>
</html>