
@{
    ViewBag.Title = "ElectricityGasTransaction";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section contain
{

    <script src="~/js/jquery.js"></script>
    @*<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>*@

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- DataTables -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .txtwidth {
            width: 80px;
        }
    </style>
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0px;
        }

        .select2-container .select2-selection--single {
            height: 34px;
        }
    </style>
    @*<script src="~/Content/plugins/select2/select2.full.min.js"></script>*@
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            var MasterClass = document.getElementById("ReportLi");
            if (MasterClass != null) {
                MasterClass.className = MasterClass.className + " active";

            }
        });
    </script>


    <section class="content-header">
        @if (@TempData["error"] != null)
        {
            <script type="text/javascript">
                alert("@TempData["error"]");
            </script>
        }

            <div class="box-header with-border">
                <h3 class="box-title">Electricty And Gas Bill Transaction Detail</h3>

                @if (@ViewBag.SuccessMsg == "Bill Pay Successfull!!!")
                {
                    <div id="SuccessMsg" style="color: green">@ViewBag.SuccessMsgcashback</div>
                }

                @if (@ViewBag.SuccessMsg == "Bill Pay Fail!!!")
                {
                    <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsgcashback</div>
                }
                @if (@ViewBag.SuccessMsg == "Some Internal Error Occur!!!")
                {
                    <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsgcashback</div>
                }
            </div>



    </section>



    <section class="content">
        @using (Html.BeginForm())
        {

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box">
                            <div class="box-header with-border">


                                <div class="btn-group-vertical ">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">

                                                <select id="ddlservice" name="ddlservice" class="form-control select2">
                                                    <option value="0">---Select Service---</option>
                                                    <option value="Electricty">Electricty</option>
                                                    <option value="Gas">Gas</option>

                                                </select>
                                                @if (ViewBag.Servicename != null)
                                                {
                                                    <script>
                document.getElementById('ddlservice').value = '@ViewBag.Servicename';
                                                    </script>
                                                }
                                            </div>
                                        </div>





                                        <div class="col-md-6">

                                            <div class="form-group has-feedback">

                                                <select id="ddlstatus" name="ddlstatus" class="form-control select2">
                                                    <option value="6">---Select Status---</option>
                                                    <option value="0">Accept/Pending</option>
                                                    <option value="1">Successful</option>
                                                    <option value="2">Failure</option>
                                                    <option value="3">Failure1</option>
                                                    <option value="4">Failure Credit</option>
                                                    <option value="5">Insufficient Balance</option>

                                                </select>
                                                @if (ViewBag.statuscode != null)
                                                {
                                                    <script>
                                                        document.getElementById('ddlstatus').value = '@ViewBag.statuscode';
                                                    </script>
                                                }
                                            </div>

                                        </div>
                                    </div>




                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="input-group date form-group has-feedback">
                                                        @Html.TextBox("datepicker", "", new { placeholder = "From Date", @class = "form-control", @Value = ViewBag.FromDate, autocomplete = "off" })
                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <div class="input-group date form-group has-feedback">
                                                        @Html.TextBox("datepicker1", "", new { placeholder = "To Date", @class = "form-control", @Value = ViewBag.ToDate, autocomplete = "off" })
                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <div class="form-group has-feedback">
                                                        <button type="submit" id="clkbtncomp" name="submit" value="search" class="btn btn-primary" onclick="return Valid()">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                           
                                        </div>
                                    </div>




                                </div>






                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-9"></div>
                        <div class="col-md-2">
                            <div class="form-group has-feedback">
                                <button type="submit" id="clkbalance" name="submit" value="Insufficientbalance" class="btn btn-warning">Update Insufficient Balance</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="box-footer text-right">

                                Select All:
                                <input type="checkbox" id="selectall" name="selectall" value="selectall">
                            </div>

                        </div>
                        <div class="col-md-1">
                            <input type="submit" value="Update" class="btn btn-danger" onclick="return confirm('Are you sure you want to Update this Data?')" />
                        </div>

                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-bordered table-striped">
                                    @{int rowNo = 0;}
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            @*<th>Customer Id</th>*@
                                            <th>Customer Name</th>
                                            <th>Recharge No</th>
                                            <th>Type</th>
                                            <th>Previous Status</th>

                                            <th>Bill Status</th>

                                            <th>Previous Response Msg</th>
                                            <th>Recharge Dt.</th>
                                            <th>Transaction Id</th>
                                            <th>Utransaction Id</th>

                                            <th>Amount</th>
                                            <th>Current Status</th>
                                            <th> Current ResposneMessage</th>


                                            <td></td>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var item in Model)
                                        {

                                            string uid = item.UtransactionID;


                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            @*<td>
            @item.CustomerId
        </td>*@
                                            <td>
                                                @item.Name

                                                @Html.TextBox(@uid +"CustomerId", "", new
                                              {
                                                  //@item.Status
                                                  placeholder = "Status",
                                                  @class = "form-control",
                                                  @Value = @item.CustomerId,
                                                  autocomplete = "off",
                                                  ReadOnly = "True",
                                                  @style="width:100px;display:none"


                                              })
                                            </td>
                                            <td>
                                                @item.RechargeNo


                                            </td>
                                            <td>
                                                @item.Type




                                            </td>
                                            <td> @item.CStatus</td>

                                            <td>@item.Billstatus</td>
                                            <td>

                                                @item.CResponsemsg

                                                @Html.TextBox(@uid +"Previousmsg", "", new
                                              {
                                                  //@item.Status
                                                  placeholder = "Status",
                                                  @class = "form-control",
                                                  @Value = @item.CResponsemsg,
                                                  autocomplete = "off",
                                                  ReadOnly = "True",
                                                  @style="width:100px;display:none",


                                              })

                                            </td>
                                            <td> 
                                                @item.RechargeDate
                                            </td>


                                            <td>


                                                @item.TransactionID



                                            </td>
                                            <td>
                                                @item.UtransactionID

                                                @Html.TextBox(@uid + "UtransactionID", "", new
                                               {
                                                   //@item.Status
                                                   placeholder = "Status",
                                                   @class = "form-control",
                                                   @Value = @item.UtransactionID,
                                                   autocomplete = "off",
                                                   ReadOnly = "True",
                                                   @style="width:100px;display:none",


                                               })

                                            </td>
                                            <td>
                                                @item.Amount



                                            </td>

                                            <td>



                                                @Html.TextBox(@uid +"itemstatus", "", new
                                           {
                                               //@item.Status
                                               placeholder = "Status",
                                               @class = "form-control",
                                               @Value = @item.Status,
                                               autocomplete = "off",
                                               ReadOnly = "True",
                                               @style="width:40px"
                                           })

                                            </td>
                                            <td>



                                                @Html.TextBox(@uid + "itemmsg", "", new
                                           {
                                               //
                                               @class = "form-control",
                                               @cols = "40",
                                               @rows = "5",
                                               @Value = @item.ResposneMessage,
                                               ReadOnly = "True"

                                           })

                                            </td>


                                            <td>
                                                <input type="checkbox" id="@item.UtransactionID.ToString()" name="chkpro" value="@item.UtransactionID.ToString()" onclick="addcheckbox('@item.UtransactionID.ToString()');">
                                                <label for="@item.UtransactionID.ToString()">  @item.UtransactionID.ToString()</label>
                                            </td>


                                            <td><button type="submit" id="submit" name="submit" value=@item.UtransactionID.ToString() class="btn btn-warning" onclick="return confirm('Are you sure you want to Update?');">Update</button></td>


                                            <td>

                                                <a href="/Transaction/Rebillpay/@item.UtransactionID.ToString()"><i class="fa fa-update"></i>Re-BillPay</a>
                                            </td>
                                            <td>

                                                <a href="/Transaction/Refund1/@item.UtransactionID.ToString()"><i class="fa fa-update"></i>Refund</a>

                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </section>


    <script>
        $('#datepicker').datepicker({
            "setDate": new Date(),
            "autoclose": true,
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            defaultDate: new Date(),
        });
        // $("#datepicker").datepicker('setDate', new Date());
        $('#datepicker1').datepicker({
            "setDate": new Date(),
            "autoclose": true,
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            defaultDate: new Date(),
        });
        // $("#datepicker1").datepicker('setDate', new Date());
    </script>

    <!-- jQuery 2.2.3 -->
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>

    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <!-- DataTables -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });

        function Valid() {
            var status = true

            //$('#clkbtncompprint').click(function () {
            var FromDate = $('#datepicker').val();
            var ToDate = $('#datepicker1').val();

            if (FromDate == "" || FromDate == null) {

                document.getElementById('datepicker').style.border = "1px solid #ff0000";

                status = false;
            }
            else {
                document.getElementById('datepicker').style.border = "";
            }
            if (ToDate == "" || ToDate == null) {
                document.getElementById('datepicker1').style.border = "1px solid #ff0000";
                status = false;
            }
            else {
                document.getElementById('datepicker1').style.border = "";
            }

            if (status == true)
                return true;
            else
                return false;
        }

        function pdf() {
            var status = true
            //$('#clkbtncompprint').click(function () {
            var FromDate = $('#datepicker').val();
            var ToDate = $('#datepicker1').val();
            var DeliveryboyId = $('#ddlStaff').val();
            var CustomerId = $('#ddlCustomer').val();
            var Status = $('#ddlStatus').val();
            if (FromDate == "" || FromDate == null || ToDate == "" || ToDate == null) {
                if (FromDate == "" || FromDate == null) {
                    document.getElementById('datepicker').style.border = "1px solid #ff0000";
                    status = false;
                }
                else {
                    document.getElementById('datepicker').style.border = "";
                }
                if (ToDate == "" || ToDate == null) {
                    document.getElementById('datepicker1').style.border = "1px solid #ff0000";
                    status = false;
                }
                else {
                    document.getElementById('datepicker1').style.border = "";
                }
            }
            else {
                $.ajaxSetup({ async: false });
                var urlInsert = '/CustomerOrder/DeliveryBoyDailyOrderPrint?DeliveryboyId=' + DeliveryboyId + '&CustomerId=' + CustomerId + '&FromDate=' + FromDate + '&ToDate=' + ToDate + '&Status=' + Status;
                window.location = urlInsert;
            }
            $.ajax({
            url: $url,
            data: { 'DeliveryboyId': DeliveryboyId, 'CustomerId': CustomerId, 'FromDate': FromDate, 'ToDate': ToDate },
            datatype: "json",
            type: "POST",
            cache: false,
            success: function (data) {
                if (data != null) {

                }
                else {
                    value = '@TempData["error"] = "Data Is Not Found!!!"';
                }
            }
        })
        }
        //});


    </script>
}
