@model MilkWayIndia.Models.Staff
@{
    ViewBag.Title = "EditModule";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@section contain
{

    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            var MasterClass = document.getElementById("LiMst");
            if (MasterClass != null) {
                MasterClass.className = MasterClass.className + " active";
            }
        });
    </script>
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>
    <section class="content-header">
        <h1>
            Edit Module
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Module</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="btn-group-vertical">
                        <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ModuleList", "Staff")'">Back To List</button>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="form-horizontal">
                    @using (Html.BeginForm("EditModule", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>
                                    @*  @Html.HiddenFor(model => model.Id, new { @Value = ViewBag.StaffId })*@
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Platform</label>
                                        <div class="col-sm-6">
                                            <select id="ddlplatform" name="ddlplatform" class="form-control">
                                                <option value="0">---Select---</option>
                                                <option value="Admin">Admin</option>
                                                <option value="Portal">Portal</option>
                                                <option value="CRM">CRM</option>
                                                <option value="ERP">ERP</option>
                                            </select>
                                            <script>
                                                document.getElementById('ddlplatform').value = '@ViewBag.PlatformName';
                                            </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Module Name</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.ModuleName, new { @class = "form-control", @id = "Module", @Value = ViewBag.Modulename })
                                        </div>
                                    </div>

                                 

                                   
                                
                             
                                
                               
                                </div>
                            </div>
                        </div>
                        <div class="box-footer text-right">
                            @*<input type="button" class="btn btn-orange" value="Cancel" />*@
                            <input type="submit" value="Save" class="btn btn-primary" onclick="return ValidModule();" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <script>
       

        function ValidModule() {
            var status = true;
            var Role = document.getElementById("ddlplatform").value;
            if (Role == null || Role == "" || Role == "0") {
                document.getElementById("ddlplatform").style.border = "1px solid #ff0000";
                document.getElementById("ddlplatform").style.color = "#ff0000";
                document.getElementById("ddlplatform").value = "0";
                status = false;
                return false;
            }

            var Role = document.getElementById("Module").value;
            if (Role == null || Role == "" || Role == "0") {
                document.getElementById("Module").style.border = "1px solid #ff0000";
                document.getElementById("Module").style.color = "#ff0000";
                document.getElementById("Module").value = "0";
                status = false;
                return false;
            }


        
    </script>

}
