@model MilkWayIndia.Models.Staff
@{
    ViewBag.Title = "EditPlatform";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section contain
{

    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            var MasterClass = document.getElementById("LiMst");
            if (MasterClass != null) {
                MasterClass.className = MasterClass.className + " active";
            }
        });
    </script>
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>


    <section class="content-header">
        <h1>
            Edit Role
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Role</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="btn-group-vertical">
                        <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("PlatformList", "Staff")'">Back To Panel</button>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="form-horizontal">
                    @using (Html.BeginForm("EditPlatform", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">

                                    <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>


                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Role/Designation</label>
                                        <div class="col-sm-6">
                                            @Html.HiddenFor(m => m.PlatformId, new { @class = "form-control", @id = "PlatformId", @Value = ViewBag.PlatformId })
                                            @Html.TextBoxFor(m => m.PlatformName, new { @class = "form-control", @id = "Platform", @Value = ViewBag.DesignationName })
                                        </div>
                                    </div>






                                </div>


                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Module Name</label>
                                        <div class="col-sm-6">

                                            <div id="div_sectors" class="scrollbox">

                                            </div>

                                            @* @Html.TextBoxFor(m => m.SectorName, new { @class = "form-control", @id = "SectorName", onClick = "ClearTextbox('SectorName')" })*@
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <div class="row">


                            </div>

                        </div>
                        <div class="box-footer text-right">
                            @*<input type="button" class="btn btn-orange" value="Cancel" />*@
                            <input type="submit" value="Update" class="btn btn-primary" onclick="return ValidPlatform();" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>


    <script>
        $(document).ready(function () {
            //GetProductAttribute();
            var role = document.getElementById("PlatformId").value;

            var url = '/Staff/FetchModuleListByRole';
            var div_module = $('#div_sectors');
            //$('#ddlCity').change(function () {
            //var role = 1;
            if (!role) {
                div_module.empty();
                return;
            }
            if (role > 0) {
                $.get(url, { id: role }, function (data) {
                    div_module.html(data);
                })
            }
            else {
                div_module.empty();
            }
            //});
        });

    </script>
}

