
@model MilkWayIndia.Models.VendorSectorListVM
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-body">
                <div class="box-body table-responsive no-padding">
                    <table id="example1" class="table table-bordered table-striped">
                        @{int rowNo = 0;}
                        <thead>
                            <tr>

                                <th>State</th>
                                <th>City</th>
                                <th>Vendor</th>
                                <th>VendorCat</th>
                                <th>Sector</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            

                            @if (Model != null)
                            {
                                for (int i = 0; i < Model.VendorSector.Count; i++)
                                {
                                    if (!string.IsNullOrEmpty(Model.VendorSector[i].Text))
                                    {
                            <tr>

                                <td>
                                    @Model.VendorSector[i].Text

                                </td>
                                <td>@Model.VendorSector[i].Text1</td>
                                <td>@Model.VendorSector[i].Text5</td>
                                <td>@Model.VendorSector[i].Text2</td>
                                <td>@Model.VendorSector[i].Text3</td>
                                <td>
                                    <input type="checkbox" id="@Model.VendorSector[i].Text4" name="chkpro" value="@Model.VendorSector[i].Text4" onclick="addcheckbox1('@Model.VendorSector[i].Text4');" checked="checked">


                                </td>
                            </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //  $(function () {
    $('#example1').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false
    });
                //  });


</script>
