
@{
    ViewBag.Title = "DeliveryBoyReplacement";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section contain
{
    <script src="~/js/jquery.js"></script>
    @*<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>*@

    <!-- Bootstrap 3.3.6 -->
    @*<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">*@
    <!-- DataTables -->
    @*<link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">*@
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->

    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .txtwidth {
            width: 80px;
        }
    </style>
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0px;
        }

        .select2-container .select2-selection--single {
            height: 34px;
        }
    </style>
    @*<script src="~/Content/plugins/select2/select2.full.min.js"></script>*@
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            var MasterClass = document.getElementById("ReportLi");
            if (MasterClass != null) {
                MasterClass.className = MasterClass.className + " active";

            }
        });
    </script>
    <section class="content-header">
        @if (@TempData["error"] != null)
        {
            <script type="text/javascript">
                alert("@TempData["error"]");
            </script>
        }
        <div class="box-header with-border">
            <h3 class="box-title">Delivery Manager Replacement </h3>
            @*
                @ViewBag.Testing<div class="box-tools">
                    <div class="input-group input-group-sm pull-right">
                        <input type="button" class="btn btn-primary pull-right btn-add" value="Add" onclick="location.href='@Url.Action("AddSectorProductAssign", "Vendor")'" />
                    </div>
                </div>*@
        </div>
    </section>



    <section class="content">
        @using (Ajax.BeginForm("UpdateCategory", "Reportnew", null, new AjaxOptions { OnSuccess = "SuccessCategory" }, new { @id = "frmCategory" }))
        {
            <div class="row">
                <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box">
                            <div class="box-header with-border">


                                <div class="btn-group-vertical ">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group has-feedback">

                                                <select id="ddlDm" name="ddlDm" class="form-control select2">
                                                    <option value="0">---Select DeliveryBoy---</option>

                                                    @if (ViewBag.Dm != null)
                                                    {
                                                        foreach (System.Data.DataRow drService in ViewBag.Dm.Rows)
                                                        {
                                                            <option value="@drService["Id"]">@drService["Name"]</option>
                                                        }
                                                    }
                                                </select>
                                                @if (ViewBag.Dm1 != null)
                                                {
                                                    <script>
                                                        document.getElementById('ddlDm').value = '@ViewBag.Dm1';
                                                    </script>
                                                }
                                            </div>
                                        </div>






                                    </div>




                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group has-feedback">

                                                        <select id="ddlnewDm" name="ddlnewDm" class="form-control select2">
                                                            <option value="0">---Select DeliveryBoy---</option>

                                                            @if (ViewBag.Dm != null)
                                                            {
                                                                foreach (System.Data.DataRow drService in ViewBag.Dm.Rows)
                                                                {
                                                                    <option value="@drService["Id"]">@drService["Name"]</option>
                                                                }
                                                            }
                                                        </select>
                                                        @if (ViewBag.Dm1 != null)
                                                        {
                                                            <script>
                                                        document.getElementById('ddlDm').value = '@ViewBag.Dm1';
                                                            </script>
                                                        }
                                                    </div>
                                                </div>




                                                <div class="col-md-4">
                                                    <div class="form-group has-feedback">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            @Html.TextBox("txtstatus", "", new { @class = "form-control", @readonly = "readonly", style = "color:red; " })
                                        </div>
                                    </div>



                                </div>






                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <div class="box-body table-responsive no-padding">
                                <table id="tblExistingDetails" class="table table-bordered table-striped">

                                    <thead>
                                        <tr>
                                            <th>@Html.CheckBox("cbCheckAll", new { OnClick = "checkAll(this)" })</th>

                                            <th>Name</th>
                                            <th>Dm Name</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <div class="alert alert-success alert-dismissable" id="insertalert" style="width: 30%;display:none" data-auto-dismiss="1000">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
                <input type="submit" id="btnSave" value="Save" class="btn btn-primary" onclick="return ValidCategory();" />
            </div>
        }
    </section>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <script>
        function SuccessCategory(data) {
            if (data.success == "1") {
                $('#SuccessMsg').html('Successfully Update Successfully.')
                $('#tblExistingDetails tbody').html('');
                //$('#ddlCategory').val('0');
                //$('#ddlSubCategory').val('0');
            }
        }
        $(document).ready(function () {
            document.getElementById("txtstatus").value = "0";
            $("#loaderbody").addClass('hide');

            $(document).bind('ajaxStart', function () {
                $("#loaderbody").removeClass('hide');
            }).bind('ajaxStop', function () {
                $("#loaderbody").addClass('hide');
            });

            //setSubCategory();
            $('#ddlDm').change(function () {
                //setSubCategory();

                var catid = $('#ddlDm').val();
                var URL = '/Reportnew/GetCustomerByDm?id=' + catid;
                $.getJSON(URL, function (data) {
                    const jsonObject = JSON.parse(data);
                    var rowCount = $("#tblExistingDetails tbody tr").length;
                    counter = rowCount + 1;
                    var tr = '';
                    $.each(jsonObject, function (i, item) {
                        counter = i + 1;
                        tr += '<tr><td><input type="checkbox" id="' + counter + '" name="chk[]" value="' + item.Id + '" CssClass="JchkAll" onclick="addcheckbox(' + counter + ')"></td><td>' + item.Customer + '</td><td>' + item.StaffName + '</td></tr>';
                    });
                    $('#tblExistingDetails tbody').html(tr);
                });
            });


            //$('#example1').DataTable({


            //    "paging": true,
            //    "lengthChange": true,
            //    "searching": true,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false
            //});
        });


        function checkAll(cb) {
            var ctrls = document.getElementsByTagName('input');
            for (var i = 0; i < ctrls.length; i++) {
                var cbox = ctrls[i];
                if (cbox.type == "checkbox") {
                    cbox.checked = cb.checked;
                }


            }

            if (cb.checked == false) {
                document.getElementById("txtstatus").value = "0";
            }

            if (cb.checked == true) {
                document.getElementById("txtstatus").value = "1";
            }
        }


        function addcheckbox(a) {

            var count1 = 0;
            var count = 0;
            var ctrls = document.getElementsByTagName('input');
            for (var i = 0; i < ctrls.length; i++) {
                var cbox = ctrls[i];
                if (cbox.type == "checkbox") {
                    var count = parseInt(count) + 1;
                    if (cbox.checked == false) {


                    }

                    if (cbox.checked == true) {
                        var count1 = parseInt(count1) + 1;

                    }
                }


            }
            //alert("chk=" + count);
            //alert("checked=" + count1);
            if (parseInt(count) == parseInt(count1)) {
                document.getElementById("txtstatus").value = "1";
            }

            else {
                document.getElementById("txtstatus").value = "0";
            }
        }
    </script>

    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>

    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <!-- DataTables -->
    @*<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {

        });
    </script>
}


