@model MilkWayIndia.Models.Product
@{
    ViewBag.Title = "AddProductSubCategory";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section contain
{
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            var MasterClass = document.getElementById("LiProduct");
            if (MasterClass != null) {
                MasterClass.className = MasterClass.className + " active";
            }
        });
    </script>
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>

    <section class="content-header">
        <h1>
            Add Product Sub Category
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Product Sub Category</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="btn-group-vertical">
                        <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ProductSubCategoryList", "Product")'">Back To Panel</button>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="form-horizontal">

                    @using (Html.BeginForm("AddProductSubCategory", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Parent Category</label>
                                        <div class="col-sm-6">
                                            @*@Html.TextBoxFor(m => m.CategoryId, new { @class = "form-control", @id = "CategoryId" })*@
                                            <select id="ddlCategory" name="ddlCategory" class="form-control">
                                                <option value="0">---Select---</option>
                                                @if (ViewBag.ParentCategory != null)
                                                {
                                                    foreach (System.Data.DataRow drCategoryName in ViewBag.ParentCategory.Rows)
                                                    {
                                                        <option value="@drCategoryName["Id"]">@drCategoryName["ParentCategory"]</option>
                                                    }
                                                }
                                            </select>

                                            @if (ViewBag.ParentCategoryName != null)
                                            {
                                                <script>
                                                    document.getElementById('ddlCategory').value = '@ViewBag.ParentCategoryName';
                                                </script>
                                            }
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Sub Category Name</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.SubCategory, new { @class = "form-control", @id = "Category" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Order By</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.OrderBy, new { @class = "form-control", @id = "OrderBy", onkeypress = "return ValidateNumber(event);", maxlength = 3 })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FLedgerCode" class="col-sm-3 control-label">Image</label>
                                        <div class="col-sm-4">
                                            <input type="file" name="Document1" id="Document1" /><br />
                                        </div>
                                        <span>Size : 200px * 200px</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Is Active</label>
                                        <div class="col-sm-6">
                                            @Html.CheckBox("IsActive", new { @checked = "checked" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="box-footer text-right">
                            @*<input type="button" class="btn btn-orange" value="Cancel" />*@
                            <input type="submit" value="Save" class="btn btn-primary" onclick="return ValidCategory();" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <script>
        function ValidateNumber(e) {

            var keycode = (e.which) ? e.which : e.keyCode;
            //console.log(keycode);
            var phn = document.getElementById('OrderBy');
            //comparing pressed keycodes
            if (!(keycode == 8 || keycode == 46) && (keycode < 48 || keycode > 57)) {
                return false;
            }
            return true;
        };

        function ValidCategory() {
            var status = true;
            var Category = document.getElementById("Category").value;
            if (Category == null || Category == "" || Category == "Enter Sub Category") {
                document.getElementById("Category").style.border = "1px solid #ff0000";
                document.getElementById("Category").style.color = "#ff0000";
                document.getElementById("Category").value = "Enter Sub Category";
                status = false;
                return false;
            }
        }

    </script>
}
