@model MilkWayIndia.Models.MsgSectorListVM
<h4 class="panel-heading">
    Sector
</h4>
<table id="tblExistingDetails" class="display table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th>@Html.CheckBox("cbCheckAll", new { OnClick = "checkAll(this)" })</th>
            <th>Sector Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            for (int i = 0; i < Model.MsgSector.Count; i++)
            {
                if (!string.IsNullOrEmpty(Model.MsgSector[i].Text))
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => Model.MsgSector[i].IsChecked, new { @class = "JchkAll" })
                        </td>
                        <td>
                            @Model.MsgSector[i].Text
                            @Html.HiddenFor(m => Model.MsgSector[i].Value)
                            @Html.HiddenFor(m => Model.MsgSector[i].Text)
                        </td>
                    </tr>
                }
            }
        }

        @*@if (ViewBag.lstProduct != null)
            {
                int i = 0;
                foreach (System.Data.DataRow drProduct in ViewBag.lstProduct.Rows)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="chk[@i].id" CssClass="JchkAll" value="@drProduct["vID"]" checked>
                        </td>
                        <td>@drProduct["ProductName"]</td>
                    </tr>
                    i++;
                }
            }*@
    </tbody>
</table>
