@model MilkWayIndia.Models.Offer
@{
    /**/

    ViewBag.Title = "EditSectorMsg";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section contain
{
    <script src="~/js/jquery.js"></script>
    @*<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/toastr/toastr.min.js"></script>
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var MasterClass = document.getElementById("LiProduct");
            if (MasterClass != null) {
                MasterClass.className = MasterClass.className + " active";
            }
        });
    </script>

    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0px;
        }

        .select2-container .select2-selection--single {
            height: 33px;
        }
    </style>
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>


    <section class="content-header">
        <h1>
            Edit Sector Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Edit Sector Message</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">

                    <div class="box-header with-border">
                        <div class="btn-group-vertical">
                            <a href="/Offer/SectorWiseMsgList" class="btn btn-success">Back To Panel</a>
                        </div>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    @using (Ajax.BeginForm("EditSectorMsg", "Offer", null, new AjaxOptions { OnSuccess = "SuccessAssign" }, new { @id = "frmProduct" }))
                    {
                    <div class="box-body">
                        <div id="SuccessMsg" style="color: red">@ViewBag.SuccessMsg</div>


                        @Html.HiddenFor(m => m.StateId, new { @class = "form-control", @id = "StateId" })
                        @Html.HiddenFor(m => m.CityId, new { @class = "form-control", @id = "CityId" })

                        @Html.HiddenFor(m => m.NewCustomerMsg1, new { @class = "form-control", @id = "NewCustomerMsg1" })
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">State</label>
                                    @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", @id = "State" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">City</label>
                                    @Html.TextBoxFor(m => m.CityName, new { @class = "form-control", @id = "City" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Message</label>
                                    @Html.TextAreaFor(m => m.NewCustomerMsg, new { @class = "form-control", @id = "NewCustomerMsg", @Value = ViewBag.Message })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="div_products">

                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="box-footer text-right">
                            <input type="submit" id="btnSave" name="submit" value="UnAssign Sector" onclick="return ValidateForm();" class="btn btn-primary" />
                        
                            <input type="submit" id="btnSave1" name="submit" value="Update Message" onclick="return ValidateForm();" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //$("#ddlCategory").change(function () {
                GetAssignProduct();
            //});
        });

        function GetAssignProduct() {
            var cid = $('#CityId').val();
            var sid = $('#StateId').val();
            var Msg = $('#NewCustomerMsg').val();

            //alert(cid);
            //alert(sid);
            //alert(Msg);
            $.get('/Offer/GetSectorListMsgWise', { cId: cid, sId: sid, Msg: Msg }, function (data) {
                $('#div_products').html(data);
            })
            //alert("a");
        }
    </script>

    <script>
        //function ValidateForm() {
        //    if ($("#ddlSector").val() == null || $("#ddlSector").val() == "" || $("#ddlSector").val() == "0") {
        //        document.getElementById("select2-ddlSector-container").style.border = "1px solid #ff0000";
        //        document.getElementById("select2-ddlSector-container").style.color = "#ff0000";
        //        document.getElementById("select2-ddlSector-container").value = "0";
        //        return false;
        //    }
        //    if ($("#ddlVendor").val() == null || $("#ddlVendor").val() == "" || $("#ddlVendor").val() == "0") {
        //        document.getElementById("select2-ddlVendor-container").style.border = "1px solid #ff0000";
        //        document.getElementById("select2-ddlVendor-container").style.color = "#ff0000";
        //        document.getElementById("select2-ddlVendor-container").value = "0";
        //        return false;
        //    }
        //    if ($("#ddlCategory").val() == null || $("#ddlCategory").val() == "" || $("#ddlCategory").val() == "0") {
        //        document.getElementById("select2-ddlCategory-container").style.border = "1px solid #ff0000";
        //        document.getElementById("select2-ddlCategory-container").style.color = "#ff0000";
        //        document.getElementById("select2-ddlCategory-container").value = "0";
        //        return false;
        //    }
        //}

        function SuccessAssign(data) {
            console.log(data.success);
            if (data.success == "1") {
                toastr["success"](data.message);
                GetAssignProduct();
            }
            else {
                toastr["error"]("Error");
            }
        }

        function checkAll(cb) {
            var ctrls = document.getElementsByTagName('input');
            for (var i = 0; i < ctrls.length; i++) {
                var cbox = ctrls[i];
                if (cbox.type == "checkbox") {
                    cbox.checked = cb.checked;
                }
            }
        }

        $(function () {
            $("#tblQuot [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tblQuot [id*=chkRow]").attr("checked", "checked");
                } else {
                    $("#tblQuot [id*=chkRow]").removeAttr("checked");
                }
            });
            $("#tblQuot [id*=chkRow]").click(function () {
                if ($("#tblQuot [id*=chkRow]").length == $("#tblQuot [id*=chkRow]:checked").length) {
                    $("#tblQuot [id*=chkHeader]").attr("checked", "checked");
                } else {
                    $("#tblQuot [id*=chkHeader]").removeAttr("checked");
                }
            });
        });

        $(function () {
            $("#tblQuot1 [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tblQuot1 [id*=chkRow]").attr("checked", "checked");
                } else {
                    $("#tblQuot1 [id*=chkRow]").removeAttr("checked");
                }
            });
            $("#tblQuot1 [id*=chkRow]").click(function () {
                if ($("#tblQuot1 [id*=chkRow]").length == $("#tblQuot1 [id*=chkRow]:checked").length) {
                    $("#tblQuot1 [id*=chkHeader]").attr("checked", "checked");
                } else {
                    $("#tblQuot1 [id*=chkHeader]").removeAttr("checked");
                }
            });
        });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

}
