
@{
    ViewBag.Title = "DeliveryBoyDailyReport";
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" href="https://milkywayindia.com/img/logo.png" type="image/x-icon">
</head>
<body>
    <div id='printarea'>
        <style>
            @@page {
                size: A4;
                margin: 10mm 10mm 10mm 10mm;
            }

            body {
                font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                text-align: center;
                color: #777;
            }

                body h1 {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    color: #000;
                }

                body h3 {
                    font-weight: 300;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    color: #555;
                }

                body a {
                    color: #06F;
                }

            .heading {
                max-width: 800px;
                margin: auto;
                padding: 0px;
            }

                .heading p {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

            .main-box {
                max-width: 800px;
                margin: auto;
                padding: 30px;
                font-size: 15px;
                line-height: 24px;
                font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color: #000;
                background-image: url(https://milkywayindia.com/img/cow-pattern.png);
                background-size: contain;
            }

            .main-contain {
                background-color: #fff;
                padding: 15px;
            }

            .main-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .main-box table td, .main-box table th {
                    padding: 3px;
                    vertical-align: top;
                    padding-left: 10px;
                }

                .main-box table tr.top table td {
                    padding-bottom: 20px;
                }

                    .main-box table tr.top table td.title {
                        font-size: 45px;
                        line-height: 45px;
                        color: #333;
                    }

                .main-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .main-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .main-box table tr.details td {
                    padding-bottom: 20px;
                }

                .main-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .main-box table tr.item.last td {
                    border-bottom: none;
                }

            .no-border td {
                border: 0px !important;
                padding: 0px !important;
            }

            .main-box table tr.total td:nth-child(2) {
                border-top: 2px solid #eee;
                font-weight: bold;
            }

            .main-box table.score td, .main-box table.score th {
                border-top: 1px solid #000;
                border-left: 1px solid #000;
                text-align: left;
            }

                .main-box table.score td:last-child, .main-box table.score th:last-child {
                    border-right: 1px solid #000;
                }

            .main-box table.score tr:last-child td {
                border-bottom: 1px solid #000;
            }

            .main-box .h3 {
                font-size: 18px;
                font-weight: bold;
                padding: 0px;
            }

                .main-box .h3 span {
                    font-size: 12px;
                    font-weight: normal;
                }

            .main-box .head {
                padding: 0px 7em;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }

            .main-box .subhead {
                padding: 0px 7em;
                text-align: center;
                font-size: 12px;
            }

            .information {
                margin-top: 30px;
                padding: 0px 2em;
            }

            .qty {
                text-align: center !important;
            }

            .score {
                margin-top: 30px;
                padding: 0px 0em;
            }

            .information ol li {
                padding: 5px 0px;
            }

            .bb {
                border-bottom: 1px dotted #000;
            }

            .pt20 {
                padding-top: 20px !important;
            }

            .p20 {
                padding: 10px 20px !important;
            }

            .information p {
                text-align: left;
                padding: 10px;
            }

            .information span {
                padding-bottom: 5px;
                text-align: left;
                display: block;
                text-decoration: underline;
                /*white-space: pre-wrap;      /* CSS3 */
                /*white-space: -moz-pre-wrap; /* Firefox */
                /*white-space: -pre-wrap;     /* Opera <7 */
                /*white-space: -o-pre-wrap;   /* Opera 7 */
                /*word-wrap: break-word;      /* IE */
            }

            .left {
                text-align: left;
            }

            @@media print {
                .printbreak {
                    page-break-after: always;
                }

                tbody {
                    page-break-inside: avoid;
                    page-break-after: auto;
                    position: relative;
                    display: block;
                }

                .main-box {
                    max-width: 800px;
                    margin: auto;
                    padding: 30px;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                    color: #000;
                    background-image: url(https://milkywayindia.com/img/cow-pattern.png);
                    background-size: contain;
                }
            }

            @@media only screen and (max-width: 600px) {
                .main-box table tr.top table td {
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                .main-box table tr.information table td {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        </style>
        <div class="main-box">
            <div class="main-contain">
                <table class="heading">
                    <tr>
                        <td width="40%"></td>
                        <td>
                            <img src="https://milkywayindia.com/img/logo.png" style="width:100%; max-width:200px;" alt="" />
                        </td>
                        <td width="40%" class="h3 pt20" style="vertical-align: bottom;text-align: right;">
                            Date : @ViewBag.FromDate
                        </td>
                    </tr>
                </table>
                <table class="score" cellpadding="5" cellspacing="0" width="100%" border="1">
                    @{int rowNo = 0, _totalQty = 0, _currentRow = 0; ;}
                    @{string _sectorName = "", _deliveryBoy = "", _blockNo = "", _flatNo = "", _building = "", _customer = "";}
                    @{int totalRow = ViewBag.ProductorderList.Rows.Count;}
                    @foreach (System.Data.DataRow drclient in ViewBag.ProductorderList.Rows)
                    {
                        rowNo = rowNo + 1;
                        _currentRow = _currentRow + 1;
                        if (_sectorName != drclient["SectorName"].ToString())
                        {
                            if (_flatNo != drclient["FlatNo"].ToString() && _flatNo != "")
                            {
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="qty">@_totalQty</td>
                                    <td></td>
                                </tr>
                                <tr style="height:30px">
                                    <td colspan="4"></td>
                                </tr>
                                rowNo = 1;
                            }
                            <tr>
                                <td colspan="4"><span style="font-weight:bold">Sector</span> : @drclient["SectorName"] </td>
                            </tr>
                            _sectorName = drclient["SectorName"].ToString();
                        }
                        else if (_sectorName == drclient["SectorName"].ToString())
                        {
                            if (_blockNo != drclient["BlockNo"].ToString())
                            {
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="qty">@_totalQty</td>
                                    <td></td>
                                </tr>
                                <tr style="height:30px">
                                    <td colspan="4"></td>
                                </tr>
                                rowNo = 1;
                            }
                        }
                        if (_deliveryBoy != drclient["DeliveryBoy"].ToString())
                        {
                            <tr>
                                <td colspan="4"><b>Delivery Manager</b> : @drclient["DeliveryBoy"]</td>
                            </tr>
                            _deliveryBoy = drclient["DeliveryBoy"].ToString();
                        }
                        if (_blockNo != drclient["BlockNo"].ToString())
                        {
                            <tr>
                                <td colspan="4"><b>Block</b> : @drclient["BlockNo"]</td>
                            </tr>
                            _blockNo = drclient["BlockNo"].ToString();
                        }
                        else if (_blockNo == drclient["BlockNo"].ToString())
                        {
                            if (_flatNo != drclient["FlatNo"].ToString() && _flatNo != "")
                            {
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="qty">@_totalQty</td>
                                    <td></td>
                                </tr>
                                <tr style="height:30px">
                                    <td colspan="4"></td>
                                </tr>
                                rowNo = 1;
                            }
                        }
                        if (_building != drclient["BuildingName"].ToString())
                        {
                            <tr>
                                <td colspan="4"><b>Building</b> : @drclient["BuildingName"]</td>
                            </tr>
                            _building = drclient["BuildingName"].ToString();
                        }
                        if (_customer != drclient["Customer"].ToString())
                        {
                            _flatNo = drclient["FlatNo"].ToString();
                            _customer = drclient["Customer"].ToString();
                            <tr>
                                <td colspan="4">
                                    <table class="no-border" border="0">
                                        <tr>
                                            <td><b>Flat No.</b> : @drclient["FlatNo"]</td>
                                            <td><b>Customer Name</b> : @drclient["Customer"]</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>Sr. No.</td>
                                <td>
                                    Product Name
                                </td>
                                <td width="10%" class="qty">Qty</td>
                                <td width="15%">Status</td>
                            </tr>
                            _totalQty = 0;
                        }

                        if (_flatNo == drclient["FlatNo"].ToString() && _customer == drclient["Customer"].ToString())
                        {
                            _flatNo = drclient["FlatNo"].ToString();
                            <tr>
                                <td>@rowNo</td>
                                <td>@drclient["ProductName"]</td>
                                <td class="qty">@drclient["Qty"]</td>
                                <td>@drclient["Status"]</td>
                            </tr>
                            _totalQty = _totalQty + Convert.ToInt32(drclient["Qty"].ToString());
                        }
                        if (_currentRow == totalRow)
                        {
                            <tr>
                                <td colspan="2"></td>
                                <td class="qty">@_totalQty</td>
                                <td></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    @*@using (Html.BeginForm("Export", "CustomerOrder", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" />
        }*@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#printarea").html());
            });
        });
    </script>
    <input type='button' id='btn' value='Print' onclick='printDiv();' style="display: block;margin: 0px auto;">
    <script>
        function printDiv() {
            var divToPrint = document.getElementById('printarea');
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
        }
    </script>
</body>
</html>
